streamlit
odfpy
numpy
pandas
scikit-learn
# xgboost
geopandas
matplotlib
streamlit-authenticator
streamlit-extras
xlrd
openpyxl
streamlit-folium
folium
matplotlib 
mapclassify
# sqlalchemy
# psycopg2
plotly
